
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  --surface-container-high: #ffe2d9;
  --header-container: #c45b31;
  --on-secondary-container: #701f00;
  --secondary-container: #fe8358;
  --on-surface-variant: #5c4037;
  --neutral-variant-50: #857368;
  --primary: #ff5200;
  --primary-fixed: #ffdbd0;
  --surface: #fff8f6;
  --borders: #e5e5e5;
  --surface-container-low: #fff1ed;
  --primary-container: #ff5711;
  --white: #ffffff;
  --secondary: #a23e1a;
  --bg-50: #f8f8f8;
  --variant-50: #998e8b;
  --mangerine: #c45b31;
  --secondary-fixed: #ffdbd0;
  --bg-200: #d9d9d9; //text-box border
  --primary-fixed-dim: #ffb59d; //scrollbar
  --bg-300: #d2d2d2; //layouts background
  --neutral-variant-80: #d8c2bb; //search box border
  --secondary-variant:#fe8358; //asset-view icons
  --surface1: #fff8f6;
  --secondary-99: #fffbff;
}